<div class="unit-wrapper">
  <img src="https://mediaservice-cdn-test.azureedge.net/cost-centers/4017/main/500" />
  <div class="content-wrapper">
    <div class="title">
      publications title
    </div>
    <div class="description">
      description
    </div>
    <div class="features">
      <div>2 rooms</div>
      <div>87 sqm</div>
      <div>floor 2</div>
      <div>price</div>
    </div>
    <div class="actions">
      <button mat-icon-button>
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>mail_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
