<div class="unit-wrapper">
  <img [src]="unitModel.teaserImageUrl" />
  <div class="content-wrapper">
    <div class="title">
      {{ unitModel.title }}
    </div>
    <div class="description">
      {{ unitModel.address.streetName }}
      {{ unitModel.address.houseNumber }}
      {{ unitModel.address.postalCode }}
      {{ unitModel.address.city }}
      {{ unitModel.address.neighborhood }}
    </div>
    <div class="features">
      <div>2 rooms</div>
      <div>87 sqm</div>
      <div>floor 2</div>
      <div>price</div>
    </div>
    <div class="actions">
      <button mat-icon-button>
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>mail_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
