:host {
  padding: 1rem;
  box-sizing: border-box;
}

.unit-wrapper {
  border: 1px solid #E9EBEE;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.content-wrapper {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  color: #477B9E;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.description {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features>div {
  width: 50%;
}

.actions {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.actions>button {
  color: #477B9E;
}
